@use "../../Physics/Sass/constants.scss" as v;

header{
    // height: 6rem;
    width: 100%;
    position: relative;

    
    >.container{
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        svg.logo{
            fill: v.$lighter;
            width: 2.5rem;
            height: 2.5rem;
        }
    
        button.phone-open-menu{
            @media(min-width: 768px){
                display: none;
            }
            svg{
                width: 2rem;
                height: 2rem;
                fill: v.$light;
            }
        }
    }

    nav.navigation-container{
        position:absolute;
        z-index: 100;
        top: 0;
        right: 0;
        width: 15.875rem;
        height: 100vh;
        display: flex;
        justify-content: flex-end;

        transform: translateX(15.875rem);
        transition: transform 0.3s ease-in-out;
        
        &.open{
            transform: translateX(0);
        }

    
        .navigation-layout{
            width: 100%;
            height: 100%;
            /* background-color: red; */
            display: flex;
            flex-direction: column;
            backdrop-filter: blur(2.5rem);
            gap: 4rem;
    
            .close-menu-layout{
                backdrop-filter: blur(0px);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                fill: v.$lighter;
                margin-top: 2rem;
                margin-right: 1.5rem;
                
            }
    
            .nav-button-layout{
                position: relative;
                font-family: v.$barlowCondensed;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                z-index: 101;
                text-transform: uppercase;
                font-weight: 300;
    
                a.selected::after{
                    position: absolute;
                    content: ("");
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 3px;
                    background-color: v.$lighter;
                }
                a{
                    
                    position: relative;
                    padding-left: 2rem;
                    width: 100%;
                    letter-spacing: 2.7px;
                    text-decoration: none;
                    color: v.$lighter;
                    display: flex;
                    gap: 11px;
    
                    span{
                        font-weight: 700;
                    }
                }
            }
        }
    }

}