@use "../../Physics/Sass/constants.scss" as v;


main{
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    .presentation{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        

        h1{
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;

            span{
                color:v.$light;
                font-family: v.$barlowCondensed;
                font-size: 1rem;
                letter-spacing: 2.7px;
            }
            strong{
                all:unset;
                line-height: 6.25rem;
                color:v.$lighter;
                font-family: v.$bellefair;
                font-size: 5rem;
                
            }
        }

        p{
            font-family: v.$barlow;
            color: v.$light;
            font-weight: 500;
            line-height: 25px;
            font-size: 15px;
        }
    }

    .explore{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            all:unset;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            // outline: 1px solid red;
            background-color: v.$lighter;
            text-transform: uppercase;
            font-family: v.$bellefair;
            font-size: 20px;
            letter-spacing: 1.25px;
            transition: all 0.1s linear;
            position: relative;

            span{
                margin-top: 9px;
            }

            &:hover{
                cursor: pointer;
                transform: scale(105%);

                &::after{
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    background-color: v.$light;
                    opacity: 10%;
                    animation: home-explore-button-hover-apparition 0.3s linear forwards;
                }
    
                &::before{
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    background-color: v.$light;
                    opacity: 30%;
                    animation: home-explore-button-hover-breath 1.5s 0.5s linear infinite;
                }
            }
            
        }
    }
}