

div.content{
    &.home{
        width: 100vw;
        height: 100vh;
        background-image: url("@Assets/Background/home.jpg");
        background-size: cover;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 6rem calc(100vh - 6rem);
        overflow: hidden;
    }

    &.destination{
        // outline: 1px solid red;
        width: 100vw;
        height: 100vh;
        background-image: url("@Assets/Background/destination.jpg");
        background-size: cover;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 6rem 1fr;
        background-attachment: fixed;
        padding-bottom: 3rem;
        overflow: hidden;
    }

    &.crew{
        width: 100vw;
        height: 100vh;
        background-image: url("@Assets/Background/crew.png");
        background-size: cover;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 6rem 1fr;
        overflow: hidden;
    }

    &.technology{
        width: 100vw;
        height: 100vh;
        background-image: url("@Assets/Background/technologie.jpg");
        background-size: cover;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 6rem 1fr;
        overflow: hidden;
    }
}